.posts-wrapper {
    position: relative;
    padding: 5px 10px;
    width: 100%;
    height: 70px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posts-heading {
    position: relative;
    padding-right: 20%;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.posts-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.posts-button {}