@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    background-image: url(https://i.pinimg.com/originals/17/bc/85/17bc850e59ba8b3860f20dcedf572e7b.png);
    background-size: cover;
}

.flex {
    display: flex;
}

.container {
    align-self: center;
    padding: 50px;
}

.heading {
    text-align: center;
    font-size: 50px;

}

.paragraph {
    font-size: 25px;
    text-align: center;
    width: 1400px;
    padding-left: 400px;
}

.pic_cat {
    height: 400px;
    position: relative;
    align-self: center;
    padding-left: 700px;
}

.nav {
    color: pink;
    background-color: white;
    font-size: 20px;
    padding: 14px 20px;
    border: white solid 2px;
    border-radius: 8px;
}

.nav__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
}